**/node_modules
**/target/
**/dist/
**/.DS_Store
**/*.log

Dockerfile
.dockerignore
*.env*

*.db
*.db-shm
*.db-wal
client_wal_index

web_service/assets/main.css
web_service/assets/htmx.min.js

fly.toml
taskfile.yml

