{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="bg-white">
        <div hx-get="/api/troy-check"
             hx-swap="innerHtml"
             hx-trigger="load, every 5s"
             class="mx-6 mt-14 sm:mx-6 lg:mx-8 lg:mt-24"></div>
        <br />
        <div hx-get="/api/trail-check"
             hx-swap="innerHtml"
             hx-trigger="load"
             class="mx-6 my-14 md:mx-32 md:my-10 lg:mx-32 xl:mx-48"></div>
    </div>
{% endblock %}
