<div class="p-4 bg-white rounded-lg md:p-8 text-gray-900 dark:bg-gray-800 dark:text-white"
     aria-labelledby="stats-tab">
    <dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto sm:grid-cols-3 xl:grid-cols-4  sm:p-8">
        <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">{{ total_rides }}</dt>
            <dd class="text-gray-500 dark:text-gray-400">
                Rides
            </dd>
        </div>
        <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">{{ total_distance }}</dt>
            <dd class="text-gray-500 dark:text-gray-400">
                Total Distance
            </dd>
        </div>
        <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">{{ total_elevation_gain }}</dt>
            <dd class="text-gray-500 dark:text-gray-400">
                Total Elevation
            </dd>
        </div>
        <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">{{ longest_ride }}</dt>
            <dd class="text-gray-500 dark:text-gray-400">
                Longest Ride
            </dd>
        </div>
    </dl>
</div>
